@font-face {
    font-family: 'Volter';
    src: url("/fonts/volter/normal/volter-goldfish.ttf") format('ttf'),
         url("/fonts/volter/normal/volter-goldfish.woff2") format('woff2'),
         url("/fonts/volter/normal/volter-goldfish.woff") format('woff'),
         url("/fonts/volter/normal/volter-goldfish.svg#volter_goldfish") format('svg');
    font-weight: normal;
    font-style: normal;
}
