-- MIGRAÇÃO PARA USAR IDs REAIS DO HABBO
-- =====================================
-- Data: 2025-01-15
-- Objetivo: Atualizar usuários com IDs reais do Habbo

-- 1. Atualizar habbohub com ID real conhecido
UPDATE public.habbo_accounts 
SET 
  habbo_id = 'hhbr-81b7220d11b7a21997226bf7cfcbad51',
  updated_at = now()
WHERE habbo_name = 'habbohub' AND hotel = 'br';

-- 2. Atualizar Beebop com ID real conhecido
UPDATE public.habbo_accounts 
SET 
  habbo_name = 'Beebop',
  habbo_id = 'hhbr-00e6988dddeb5a1838658c854d62fe49',
  updated_at = now()
WHERE habbo_name = 'beebop' AND hotel = 'br';

-- 3. Migrar tabelas de homes para usar os novos IDs
-- Para habbohub
UPDATE public.user_home_backgrounds 
SET user_id = 'hhbr-81b7220d11b7a21997226bf7cfcbad51'
WHERE user_id = 'hhbr-habbohub-user-id-12345';

UPDATE public.user_home_widgets 
SET user_id = 'hhbr-81b7220d11b7a21997226bf7cfcbad51'
WHERE user_id = 'hhbr-habbohub-user-id-12345';

UPDATE public.user_stickers 
SET user_id = 'hhbr-81b7220d11b7a21997226bf7cfcbad51'
WHERE user_id = 'hhbr-habbohub-user-id-12345';

-- Para Beebop
UPDATE public.user_home_backgrounds 
SET user_id = 'hhbr-00e6988dddeb5a1838658c854d62fe49'
WHERE user_id = 'hhbr-beebop-user-id-67890';

UPDATE public.user_home_widgets 
SET user_id = 'hhbr-00e6988dddeb5a1838658c854d62fe49'
WHERE user_id = 'hhbr-beebop-user-id-67890';

UPDATE public.user_stickers 
SET user_id = 'hhbr-00e6988dddeb5a1838658c854d62fe49'
WHERE user_id = 'hhbr-beebop-user-id-67890';

-- 4. Verificar se os usuários existem, se não, criar

-- 5. Garantir que as homes existam
INSERT INTO public.user_home_backgrounds (
  user_id, background_type, background_value, created_at, updated_at
) VALUES 
  ('hhbr-81b7220d11b7a21997226bf7cfcbad51', 'image', '/assets/bghabbohub.png', now(), now()),
  ('hhbr-00e6988dddeb5a1838658c854d62fe49', 'image', '/assets/bghabbohub.png', now(), now())
ON CONFLICT (user_id) DO NOTHING;